.App {
  text-align: center;
  direction: rtl;
}

#root {
  direction: rtl;

}

.App-logo {
  width: 15%;
  /*pointer-events: none;*/
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  color: white;
}