header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

header > Button {
    display: block;
}

header > Box {
    display: block;

    vertical-align: middle;
}

a{
    text-decoration: underline;
    color: cornflowerblue;
    cursor: pointer;
}